/* body */
body {
background-color:#FFFFFF;
color:#555555;
font-family:Arial, Helvetica, sans-serif;
}

/* header */
header {
background-color:#002171;
color:#FFFFFF;
padding:20px;
}

/* nav */
nav {
background-color:#BBDEFB;
padding:10px;
font-weight:bold;
}

/* h1 */
h1 {
margin-bottom:0;
}

/* h2 */
h2 {
color:#1976D2;
}

/* dt */
dt {
color:#002171;
font-weight:bold;
}

/* address */
address {
font-style:normal;
margin-top:20px;
}

/* .resort */
.resort {
color:#1976D2;
font-weight:bold;
}

/* ul */
ul {
list-style-type:none;
padding-left:0;
}

/* li */
li {
margin-bottom:10px;
}

/* icons */
i {
margin-right:10px;
color:#1976D2;
}