/* body */
body {
  background-color: #ffffff;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* #wrapper */
#wrapper {
  background-color: #ffffff;
}

/* header */
header {
  background-color: #000033;
  color: #ffffff;
  padding: 1em;
}

/* header>h1 */
header h1 {
  margin: 0;
}

/* nav */
nav {
  background-color: #90c7e3;
}

/* nav>ul */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
}

/* nav>ul>li */
nav li {
  display: inline;
  margin-right: 1em;
}

/* nav>ul>li>a */
nav a {
  text-decoration: none;
  font-weight: bold;
  color: #000033;
}

/* nav>ul>li>a:hover */
nav a:hover {
  color: #ffffff;
}

/* main */
main {
  padding: 1em;
  display: block;
}

/* main img */
main img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* h2 */
h2 {
  color: #000033;
}

/* h3 */
h3 {
  color: #000033;
}

/* .resort */
.resort {
  color: #000033;
  font-weight: bold;
}

/* footer */
footer {
  font-size: 0.8em;
  text-align: center;
  padding: 1em;
}
/* Responsive images */
img {
  width: 100%;
  height: auto;
}