body {
  background-color: #90C7E3;
  background-image: linear-gradient(#FFFFFF, #90C7E3);
  background-repeat: no-repeat;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  background-color: #FFFFFF;
  box-shadow: 3px 3px 3px #333333;
  margin: auto;
  min-width: 960px;
  max-width: 2048px;
  width: 80%;
}

header {
  background-color: #002171;
  color: #FFFFFF;
  height: 60px;
  padding-top: 15px;
  text-align: center;
}

h1 {
  margin: 0;
}

nav {
  background-color: #FFFFFF;
  padding: 1em;
  text-align: center;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em;
}

main {
  padding: 1px 20px 20px;
}

h2 {
  text-shadow: 1px 1px #CCCCCC;
}

footer {
  padding: 2em;
  font-size: 75%;
  font-style: italic;
  text-align: center;
}

/* Hero images */

#homehero, #yurthero, #trailhero {
  background-size: cover;
  height: 18.75rem;
}

#homehero {
  background-image: url(images/coast2.jpg);
}

#yurthero {
  background-image: url(images/yurt.jpg);
}

#trailhero {
  background-image: url(images/trail.jpg);
}